.nav-link {
    color: white;
}

.card {
    margin: 0 auto; /* Added */
    margin-bottom: 10px; /* Added */
    width: 25rem;
}

.join-message {
    color: white;
}

.field-input {
    margin: 1rem;
}

.join-btn {
    margin-top: 1rem;
}

.login-message {
    color: white;
}

.advice-link-parent {
    position: relative;
}

.advice-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: auto;
}

