<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advice</title>

    <link rel="stylesheet"
    href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/popper"></script>
    <script src="https://unpkg.com/bootstrap"></script>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Advice</a>
        </div>
        <ul class="nav justify-content-end">
          
          {% if g.user %}
          <li class="nav-item">
            <a class="nav-link" href="/users/{{ g.user.id }}">{{ g.user.username }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
          <li>
            <a class="nav-link" href="/login">Log in</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
      
    <div class="container mt-5">

      {% for msg in get_flashed_messages() %}
      <div class="alert alert-info">{{ msg }}</div>
      {% endfor %}
    
      {% block content %}
      <!-- content goes here -->
      {% endblock %}

    </div>
  </body>
</html>