{% extends 'base.html' %}
{% block content %}
    <h1>Hello You're Log-in!</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
          <form action="/api/advice" method="POST">
            
            <button class="btn btn-outline-success btn-block" type="submit">Get my advice!</button>
            <!-- <a href="/signup" class="btn btn-primary">Sign up</a> -->
          </form>
          {% for advice in advice %}

            <li class="list-group-item">
            <a href="/advice/{{ advice.id }}" class="message-link"/>

            <div class="advice-area">
                <a href="/users/{{ advice.user.id }}">@{{ advice.user.username }}</a>
                <span class="text-muted">{{ advice.timestamp.strftime('%d %B %Y') }}</span>
                <p>{{ advice.text }}</p>
            </div>
            </li>

         {% endfor %}
        </div>
      </div>
{% endblock %}