{% extends 'base.html' %}

{% block content %}

<div class="row full-width">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-sm-3">
                <h4 id="sidebar-username">@{{ user.username }}</h4>
            </div>
            <div class="col-9">
                <ul class="user-stats nav nav-pills">
                    <li class="stat">
                        <p class="small">Advice</p>
                        <h4>
                            <a href="/users/{{ user.id }}">{{ user.messages | length }}</a>
                        </h4>
                    </li>
                    <li class="stat">
                        <p class="small">Likes</p>
                        <h4>
                            <a href="/users/{{user.id}}/likes">{{ user.likes|length }}</a>
                        </h4>
                    </li>
                    <div class="ml-auto">
                        {% if g.user.id == user.id %}
                        <a href="/users/profile" class="btn btn-outline-secondary">Edit Profile</a>
                        <form method="POST" action="/users/delete" class="form-inline">
                            <button class="btn btn-outline-danger ml-2">Delete Profile</button>
                        </form>
                        {% endif %}
                    </div>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="row">

  {% block user_details %}
  {% endblock %}

</div>

{% endblock %}