{% extends 'base.html' %}

{% block content %}

<div class="d-flex flex-row justify-content-around mb-4">
    <div class="p-2">
        <h4 id="sidebar-username">@{{ user.username }}</h4>
    </div>
    <div class="p-2">
        <p class="small">Advice</p>
        <h4>
            <a href="/users/{{ user.id }}">{{ user.advice | length }}</a>
        </h4>
    </div>
    <div class="p-2">
        <p class="small">Likes</p>
        <h4>
            <a href="/users/{{user.id}}/likes">{{ user.likes|length }}</a>
        </h4>
    </div>
    <div class="p-2">
        {% if g.user.id == user.id %}
        <a href="/users/profile" class="btn btn-sm btn-outline-secondary">Edit Profile</a>
        <form method="POST" action="/users/delete" class="form-inline">
            <button class="btn btn-sm btn-outline-danger">Delete Profile</button>
        </form>
        {% endif %}
    </div>
</div>

<div class="row">

  {% block user_details %}
  {% endblock %}

</div>

{% endblock %}