{% extends 'users/detail.html' %}
{% block user_details %}
  <div class="col-sm-6">
    <ul class="list-group" id="messages">

      {% for advice in advice %}

        <li class="list-group-item">
          <a href="/api/advice/{{ advice.id }}" class="message-link"/>

          <div class="advice-area">
            <a href="/users/{{ user.id }}">@{{ user.username }}</a>
            <span class="text-muted">{{ advice.timestamp.strftime('%d %B %Y') }}</span>
            <form method="POST" action="/users/like/{{advice.id}}" class="messages-like">
              {% if advice in likes%}
              <button class="
                  btn 
                  btn-sm 
                  {{'btn-primary'}}"
              >
                  <i>liked</i> 
              </button>
              {% else %}
              <button class="
                  btn 
                  btn-sm 
                  {{'btn-secondary'}}"
              >
                  <i>unliked</i> 
              </button>
              {% endif %}
            </form>
            <span>
              <form method="POST" action="/api/advice/{{advice.id}}/delete" class="form-inline">
                <button class="btn btn-outline-danger ml-2">Delete</button>
              </form>
            </span>
            <p>{{ advice.text }}</p>
          </div>
        </li>

      {% endfor %}

    </ul>
  </div>
{% endblock %}